/* Chrome, Safari, Edge, Opera */
::-webkit-scrollbar {
    display: none;
}

.no-select, button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0px;
  font-size: 16px;
  background-color: #2B2B2B;
  color: white;
}

.outer-row {
  position: absolute;
  width: 100%;
  transform: translateY(calc(var(--line-number) * 40px));
  margin-top: 0;
  transition: margin-top 0.25s;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
}

.slide-down {
  margin-top: 40px;
}

.slide-up {
  margin-top: -40px;
}

.outer-row:hover {
  background-color: #2D3333
}

.inner-row {
  display: inline-flex;
  position: relative;
  height: 40px;
  width: 100%;
  overflow-y: hidden;
  vertical-align: top;
  -ms-overflow-style: none;
}

/* Desktop Firefox, mobile Firefox (not Firefox Focus), Samsung Browser (oddly) */
/* .inner-row is 30px taller than .outer-row so that the horizontal scrollbar is hidden */
@-moz-document url-prefix() {
  .inner-row {
    height: 70px;
  }
}

button {
  flex-shrink: 0;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  height: 40px;
}

/* The append button has a minimum size, but grows to fill remaining space. */
/* line numbers are displayed inside the append button and hide when it does */
.append {
  order: 1;
  flex-grow: 1;
  min-width: 40px;
  text-align: right;
  padding: 0 0.5em;
  box-sizing: border-box;
  line-height: 40px;
  color: #808080;
  font-family: monospace;
}

.indentation {
  position: relative;
  z-index: -1;
  height: 40px;
  width: calc(12px * var(--indentation));
  background: repeating-linear-gradient(to right, #2B2B2B, #2B2B2B 8px,
              #3B3B3B 8px, #3B3B3B 12px);
  flex-shrink: 0;
}

.starting-scope > .indentation {
  width: calc(12px * var(--indentation) + 12px);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 70%,
             calc(12px * var(--indentation)) 70%,
             calc(12px * var(--indentation)) 0);
}

.starting-scope > .item:nth-child(3) {
  margin-left: -12px;
}

.item {
  padding: 0 4px;
  white-space: pre;
  color: white;
}

.item.selected, .append.selected {
  outline: DarkSlateGray medium solid;
  outline-offset: -2px;
}

.text-input {
  background: url(baseline-keyboard-24px.svg) no-repeat center;
  background-origin: content-box;
}
.rename {
  background: url(rename-box.svg) no-repeat center;
  background-origin: content-box;
}
.delete {
  background: url(ic_delete_white_24px.svg) no-repeat center;
  background-origin: content-box;
}
.delete-outline {
  background: url(baseline-delete_outline-24px.svg) no-repeat center;
  background-origin: content-box;
}
.insert-line {
  display: none;
}
.insert-button-shown > .insert-line {
  display: initial;
  background: url(ic_subdirectory_arrow_left_white_24px.svg) no-repeat right;
  background-origin: content-box;
  order: 1;
  flex-grow: 1;
}


#FAB-menu {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  transition-property: height;
  transition-duration: 0.25s;
  overflow: hidden;
  z-index: 100;
}

#FAB-menu.expanded {
  height: 255px;
}

.FAB {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: DarkSlateGray;
  background-repeat: no-repeat;
  background-position: center;
}

.FAB-small {
  width: 40px;
  height: 40px;
  background-color: #3B3B3B;
  margin: 5px;
}

#menu-button {
  margin-top: 5px;
  background-image: url(baseline-more_vert-24px.svg);
}
#FAB-menu.expanded > #menu-button {
  background-image: url(baseline-play_arrow-24px.svg);
}
.selected #menu-button {
  background-image: url(baseline-close-24px.svg);
}
#view-code-button {
  background-image: url(baseline-code-24px.svg);
}
#load-button {
  background-image: url(baseline-folder-24px.svg);
}
#new-button {
  background-image: url(baseline-add-24px.svg);
}

#console-output {
  white-space: pre;
  font-family: monospace;
  color: white;
  margin: 0px;
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.wasm-byte-offset {
  color: #808080;
  font-weight: bold;
}
.wasm-comment {
  color: #808080;
}
.wasm-comment::before {
  content: "; ";
}

.project-list-entry {
  position: relative;
  padding: 2em 0.5em;
}

.project-list-entry:hover {
  background-color: #2D3333;
}

.project-list-entry p {
  margin: 8px 0 0 0;
}

.project-list-entry.open::after {
  content: "ACTIVE";
  display: block;
  text-align: right;
  color: goldenrod;
  font-weight: bold;
}

#no-projects-message {
  display: none;
}

#no-projects-message:first-child:last-child {
  display: block;
  text-align: center;
}

.delete-project-button {
  width: 40px;
  float: right;
}

#menu1, #menu2 {
  position: absolute;
  display: flex;
  width: 100%;
  transform: translateY(calc(var(--line-number) * 40px));
  height: 40px;
  transition-duration: 0.25s;
  transition-property: clip-path, margin-top;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: #3B3B3B;
  z-index: 10;
  -webkit-overflow-scrolling: touch;
}

.hide-from-top {
  clip-path: inset(40px 0 0 0);
}

.hide-from-bottom {
  clip-path: inset(0 0 40px 0);
}

.revealed {
  clip-path: inset(0 0 0 0);
}

.menu-item {
  padding: 0.5em;
  color: white;
  overflow-wrap: break-word;
  vertical-align: bottom;
  height: 100%;
  min-width: 3.5em;
}

.menu-input {
  padding: 0.25em;
  box-sizing: border-box;
  transition: width 0.5s ease-in-out;
  background: #2B2B2B;
  border: thick solid #3B3B3B;
  color: white;
  width: 6em;
  height: 100%;
  flex-shrink: 0;
}

.menu-input:focus {
  width: 100%;
}

/* small portrait screens */
@media only screen and (max-aspect-ratio: 1/1) and (max-width: 450px) {  
  .wasm-data, .wasm-comment::before, .wasm-byte-offset {
    display: none;
  }
}

.class, .call {
  color: #A9B7C6;
}
.keyword::first-line {
  color: #CC7832;
}
.number {
  color: #6897BB;
}
.string {
  color: #A5C25C;
}
.literal {
  font-family: monospace;
}
.comment {
  color: #808080;
}
.funcdef {
  color: #FFC66D;
}
.vardef {
  color: #ccbda6;
}
.error {
  color: red;
}