:root {
  --line-height: 40px;
  --hover-color: #2D3333;
  --primary-color: #3B3B3B;
  --secondary-color: DarkSlateGray;
}

/* Chrome, Safari, Edge, Opera */
::-webkit-scrollbar {
    display: none;
}

.no-select, button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0px;
  font-size: 16px;
  background-color: #2B2B2B;
  color: white;
}

.outer-row {
  position: absolute;
  width: 100%;
  transform: translateY(calc(var(--line-number) * var(--line-height)));
  height: var(--line-height);
  overflow: hidden;
  white-space: nowrap;
}

.outer-row:hover {
  background-color: var(--hover-color)
}

.inner-row {
  display: inline-flex;
  position: relative;
  height: var(--line-height);
  width: 100%;
  overflow-y: hidden;
  vertical-align: top;
  -ms-overflow-style: none;
}

/* Desktop Firefox, mobile Firefox (not Firefox Focus), Samsung Browser (oddly) */
/* .inner-row is 30px taller than .outer-row so that the horizontal scrollbar is hidden */
@-moz-document url-prefix() {
  .inner-row {
    height: calc(30px + var(--line-height));
  }
}

button {
  flex-shrink: 0;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  height: var(--line-height);
}

/* The append button has a minimum size, but grows to fill remaining space. */
/* line numbers are displayed inside the append button and hide when it does */
.append {
  order: 1;
  flex-grow: 1;
  min-width: var(--line-height);
  text-align: right;
  padding: 0 0.5em;
  box-sizing: border-box;
  line-height: var(--line-height);
  color: #808080;
  font-family: monospace;
}

.indentation {
  position: relative;
  z-index: -1;
  height: var(--line-height);
  width: calc(12px * var(--indentation));
  background: repeating-linear-gradient(to right, #2B2B2B, #2B2B2B 8px, var(--primary-color) 8px, var(--primary-color) 12px);
  flex-shrink: 0;
}

.starting-scope > .indentation {
  width: calc(12px * var(--indentation) + 12px);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 70%, calc(12px * var(--indentation)) 70%, calc(12px * var(--indentation)) 0);
}

.starting-scope > .item:nth-child(3) {
  margin-left: -12px;
}

.item {
  padding: 0 4px;
  white-space: pre;
  color: white;
}

.item.selected, .append.selected {
  outline: var(--secondary-color) medium solid;
  outline-offset: -2px;
}

.text-input {
  background: url(baseline-keyboard-24px.svg) no-repeat center;
  background-origin: content-box;
}
.rename {
  background: url(rename-box.svg) no-repeat center;
  background-origin: content-box;
}
.delete {
  background: url(ic_delete_white_24px.svg) no-repeat center;
  background-origin: content-box;
}
.delete-outline {
  background: url(baseline-delete_outline-24px.svg) no-repeat center;
  background-origin: content-box;
}


#FAB-menu {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  transition-property: right height;
  transition-duration: 0.25s;
  overflow: hidden;
}

#FAB-menu.expanded {
  height: 255px;
}

.FAB {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  background-repeat: no-repeat;
  background-position: center;
}

.FAB-small {
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  margin: 5px;
}

#menu-button {
  margin-top: 5px;
  background-image: url(baseline-more_vert-24px.svg);
}
#FAB-menu.expanded > #menu-button {
  background-image: url(baseline-play_arrow-24px.svg);
}
.selected #menu-button {
  background-image: url(baseline-close-24px.svg);
}
#view-code-button {
  background-image: url(baseline-code-24px.svg);
}
#load-button {
  background-image: url(baseline-folder-24px.svg);
}
#new-button {
  background-image: url(baseline-add-24px.svg);
}

#console-output {
  white-space: pre;
  font-family: monospace;
  color: white;
  margin: 0px;
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.wasm-byte-offset {
  color: #808080;
  font-weight: bold;
}
.wasm-comment {
  color: #808080;
}
.wasm-comment::before {
  content: "; ";
}
#list {
  width: 100%;
  transition: width 0.25s;
}

.selected #list {
  width: calc(100% - 100px);
}

.project-list-entry {
  position: relative;
  padding: 2em 0.5em;
}

.project-list-entry:hover {
  background-color: var(--hover-color);
}

.project-list-entry p {
  margin: 8px 0 0 0;
}

.project-list-entry.open::after {
  content: "ACTIVE";
  display: block;
  text-align: right;
  color: goldenrod;
  font-weight: bold;
}

#no-projects-message {
  display: none;
}

#no-projects-message:first-child:last-child {
  display: block;
  text-align: center;
}

.delete-project-button {
  width: var(--line-height);
  float: right;
}

#menu {
  position: fixed;
  background-color: var(--primary-color);
}

.menu-item {
  padding: 0.5em;
  color: white;
  overflow-wrap: break-word;
  -webkit-overflow-scrolling: touch;
}

.menu-input {
  padding: 0.5em;
  width: 6em;
  height: 100%;
  box-sizing: border-box;
  transition: width 0.5s ease-in-out;
  background: #2B2B2B;
  border: thin solid #808080;
  color: white;
}

.menu-input:focus {
  width: 100%;
}

/* small portrait screens */
@media only screen and (max-aspect-ratio: 1/1) and (max-width: 450px) {  
  .wasm-data, .wasm-comment::before, .wasm-byte-offset {
    display: none;
  }

  #menu {
    left: 0;
    right: 0;
    bottom: calc(var(--line-height) * -2);
    height: calc(var(--line-height));
    transition: bottom 0.25s;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .selected #menu {
    bottom: 0;
  }

  .menu-item {
    vertical-align: bottom;
    height: 100%;
    min-width: 3.5em;
  }

  .selected #FAB-menu {
    bottom: calc(var(--line-height) + 20px);
  }
}

/* larger or wider screens */
@media not screen and (max-aspect-ratio: 1/1) and (max-width: 450px) {
  #menu {
    top: 0;
    bottom: 0;
    right: -100px;
    width: 100px;
    transition: right 0.25s;
    overflow-y: auto;
  }

  .selected #menu {
    right: 0;
  }

  .menu-item {
    width: 100%;
    min-height: var(--line-height);
  }

  .selected #FAB-menu {
    right: 120px;
  }
}

.class {
  color: #A9B7C6;
}
.keyword::first-line {
  color: #CC7832;
}
.number {
  color: #6897BB;
}
.string {
  color: #A5C25C;
}
.literal {
  font-family: monospace;
}
.comment {
  color: #808080;
}
.definition {
  color: #FFC66D;
}
.declaration {
  color: rgb(204, 189, 166);
}
.call, {
  color: #A9B7C6;
}
.error {
  color: red;
}