/* Chrome, Safari, Edge, Opera */
::-webkit-scrollbar {
	display: none;
}

button, div {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	margin: 0px;
	font-size: 16px;
	color: white;
	background-color: #2B2B2B;
}

#editor, #runtime, #program-list {
	display: none;
}

#editor {
	background-color: #3B3B3B;
}

#editor > div:nth-last-child(n+3) {
	position: absolute;
	display: flex;
	/* higher lines occlude lower lines */
	z-index: calc(10000000 - var(--y));
	background-color: #2B2B2B;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	vertical-align: top;
}

#menu, #editor > div:nth-last-child(n+3) {
	height: 40px;
	width: 100%;
	transform: translateY(calc(var(--y, -1) * 40px));
	transition: 0.25s transform;
	-webkit-overflow-scrolling: touch; /* use momentum scrolling on iOS Safari */
	scrollbar-width: none; /* hide scrollbar on firefox */
}

button {
	flex-shrink: 0;
	background: transparent;
	border: 0;
	padding: 0;
	margin: 0;
	height: 40px;
}

/* The append button has a minimum size, but grows to fill remaining space. */
/* line numbers are displayed inside the append button and hide when it does */
.append {
	order: 1;
	flex-grow: 1;
	min-width: 40px;
	text-align: right;
	padding: 0 0.5em;
	box-sizing: border-box;
	line-height: 40px;
	color: #808080;
	font-family: monospace;
}

.indentation {
	position: relative;
	z-index: -1;
	height: 40px;
	width: calc(12px * var(--x, 0));
	background: repeating-linear-gradient(to right, transparent, transparent 8px,
																		DarkSlateGray 8px, DarkSlateGray 12px);
	flex-shrink: 0;
	vertical-align: bottom;
}

#menu > .indentation {
	width: 0;
	padding-right: calc(12px * var(--x, 0));
	margin-right: calc(-12px * var(--x, 0));
	opacity: 0.5;
}

.half-x > .indentation {
	width: calc(12px * var(--x, 0) + 12px);
	clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 70%,
						 calc(12px * var(--x, 0)) 70%, calc(12px * var(--x, 0)) 0);
	-webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 70%,
						 calc(12px * var(--x, 0)) 70%, calc(12px * var(--x, 0)) 0);
}

.half-x > .item:nth-child(3) {
	margin-left: -12px;
}

.item {
	padding: 0 4px;
	white-space: pre;
	color: white;
}

.item.selected, .append.selected, .item:focus, .append:focus {
	background-color: #2D3333;
	border: none;
	outline: none;
}

.text-input {
	background: url(baseline-keyboard-24px.svg) no-repeat center;
	background-origin: content-box;
}
.rename {
	background: url(rename-box.svg) no-repeat center;
	background-origin: content-box;
}
.delete {
	background: url(ic_delete_white_24px.svg) no-repeat center;
	background-origin: content-box;
}
.delete-outline {
	background: url(baseline-delete_outline-24px.svg) no-repeat center;
	background-origin: content-box;
}
.insert-line {
	background: url(baseline-keyboard_return-24px.svg) no-repeat right;
	background-origin: content-box;
}
#menu > .insert-line, #menu > .delete {
	display: none;
}
#menu.insert-button-shown > .insert-line,
#menu.delete-button-shown > .delete {
	display: initial;
}




#drag-menu-container {
	position: fixed;
	width: 100%;
	height: calc(100% + 25px);
	bottom: calc(-100%);
	z-index: 10000001;
}

#drag-menu-container.smooth-slide {
	transition: bottom 0.5s;
}

#play-button {
	position: absolute;
	top: -50px;
	right: 25px;
	color: white;
	background-color: DarkSlateGray;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

#play-button-anchor {
	position: absolute;
	top: 0;
	right: 25px;
	width: 50px;
	height: 25px;
	background-image: url(baseline-drag_handle-24px.svg);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

#drag-menu {
	position: absolute;
	top: 25px;
	width: 100vw;
	height: 100vh;
	/* border-top: thick solid black; */
	backdrop-filter: blur(10px);
}

/* Firefox doesn't support backdrop-filter, so apply a solid background */
@-moz-document url-prefix() {
	#drag-menu {
		background-color: rgba(43, 43, 43, 0.8);
	}
}

#drag-menu {
	position: relative;
}

#drag-menu-actions > button, #drag-menu-actions > label {
	background-position: right;
	background-repeat: no-repeat;
	color: white;
	padding: 0 1em;
	border-radius: 50px;
	background-color: #3B3B3B;
}

#drag-menu-actions > button:not(:first-child), #drag-menu-actions > label {
	margin-left: 1em;
}

#drag-menu-actions > label {
	line-height: 40px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Separate rule for compatibility, :focus-within is required on modern Firefox and Chrome */
input.visually-hidden:focus + label {
  outline: thin dotted;
}
input.visually-hidden:focus-within + label {
  outline: thin dotted;
}

#close-action-menu {
	position: absolute;
	right: 20px;
	bottom: 40px;
	width: 50px;
	height: 50px;
}

#drag-menu-actions, .project-list-entry {
	display: flex;
	align-items: center;
	border-radius: 50px;
	margin: 1em;
}

.project-list-entry {
	padding: 0 1em;
	justify-content: space-between;
	background-color: #3B3B3B;
}

.project-list-entry.open {
	background-color: darkslategray;
}

.delete-project-button {
	width: 40px;
}

#console-output {
	white-space: pre;
	font-family: monospace;
	color: white;
	margin: 0px;
	padding: 8px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin-bottom: 30px;
}
/* #console-input {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0.5em;
	background-color: rgba(59, 59, 59, 0.5);
	border: none;
	color: white;
	box-sizing: border-box;
} */

#menu {
	position: absolute;
	overflow-x: auto;
	white-space: nowrap;
	background-color: #3B3B3B;
	/* z-index: 10; */
}

.menu-item {
	padding: 0.5em;
	color: white;
	overflow-wrap: break-word;
	vertical-align: bottom;
	height: 100%;
	min-width: 3.5em;
}

.menu-input {
	padding: 0.25em;
	box-sizing: border-box;
	transition: width 0.5s ease-in-out;
	background: #2B2B2B;
	border: thick solid #3B3B3B;
	color: white;
	width: 6em;
	height: 100%;
	flex-shrink: 0;
}

.menu-input:focus {
	width: 100%;
}

.keyword, .keyword::first-line {
	color: #CC7832;
}
.class, .call {
	color: #A9B7C6;
}
.number {
	color: #6897BB;
}
.string {
	color: #A5C25C;
}
.literal {
	font-family: monospace;
}
.comment {
	color: #808080;
}
.funcdef {
	color: #FFC66D;
}
.vardef {
	color: #ccbda6;
}
.error {
	color: red;
}